<section [class]="{ 'gl-text-tertiary' : isUnassigned, 'uk-text-primary' : isInProgress, 'uk-text-secondary': isComplete}">
	<div class="uk-background-default uk-width-1-1" >
		<div class="uk-modal-header">
			<h2 class="uk-modal-title" [class]="{ 'gl-text-tertiary' : isUnassigned, 'uk-text-primary' : isInProgress, 'uk-text-secondary': isComplete}">Edit Quest</h2>
		</div>
		<div class="uk-modal-body uk-overflow-auto uk-height-max-large gl-scrollbar">
			<form [formGroup]="mutableQuest">
				<div class="uk-margin-bottom uk-flex uk-flex-left">
					<label class="gl-text-medium uk-text-bold" [class]="{ 'uk-form-danger': mutableQuest.get('title')?.touched && mutableQuest.get('title')?.invalid }">Title:</label>
					<input
						formControlName="title"
						class="uk-margin-left uk-width-2-3"
						[class]="{ 'uk-form-danger': mutableQuest.get('title')?.touched && mutableQuest.get('title')?.invalid, 'gl-text-input': isInProgress, 'gl-text-input-secondary': isComplete, 'gl-text-input-tertiary': isUnassigned}"
						type="text"
					>
				</div>
				<div class="uk-margin-bottom uk-flex uk-flex-left">
					<label class="gl-text-medium uk-text-bold" [class]="{ 'uk-form-danger': mutableQuest.get('reward')?.touched && mutableQuest.get('reward')?.invalid }">Reward</label>
					<input
						formControlName="reward"
						class="uk-margin-left uk-width-1-2"
						[class]="{ 'uk-form-danger': mutableQuest.get('reward')?.touched && mutableQuest.get('reward')?.invalid, 'gl-text-input': isInProgress, 'gl-text-input-secondary': isComplete, 'gl-text-input-tertiary': isUnassigned }"
						type="text"
					>
				</div>
				<div class="uk-margin-bottom uk-flex uk-flex-left">
					<div class="uk-width-1-2 uk-width-1-3@m gl-label-spacing">
						<label
							class="gl-text-medium uk-text-bold gl-form-label"
							[class]="{ 'uk-form-danger': mutableQuest.get('household')?.touched && mutableQuest.get('household')?.invalid }"
						>Household</label>
						<gl-select-form
							class="uk-margin-top uk-width-1-1"
							[options]="hhOptions"
							[selectPlaceholder]="'Household'"
							formControlName="household"
							[error]="(mutableQuest.get('household')?.touched === true) && (mutableQuest.get('household')?.invalid === true)"
							[primary]="isInProgress"
							[secondary]="isComplete"
							[tertiary]="isUnassigned"
						></gl-select-form>
					</div>
					<div *ngIf="mutableQuest.get('household')?.value" class="uk-margin-left">
						<label
							class="gl-text-medium uk-text-bold gl-form-label"
							[class]="{ 'uk-form-danger': mutableQuest.get('assignee')?.touched && mutableQuest.get('assignee')?.invalid }"
						>Assign to ward (optional):</label>
						<gl-select-form
							class="uk-margin-top uk-width-1-1"
							[options]="assigneeOptions"
							[selectPlaceholder]="'Ward'"
							formControlName="assignee"
							[error]="(mutableQuest.get('assignee')?.touched === true) && (mutableQuest.get('assignee')?.invalid === true)"
							[primary]="isInProgress"
							[secondary]="isComplete"
							[tertiary]="isUnassigned"
						></gl-select-form>
					</div>
				</div>
				<div class="uk-width-1-1 uk-flex uk-flex-no-wrap uk-flex-left">
					<label
						class="gl-text-medium uk-text-bold gl-form-label"
						[class]="{ 'uk-form-danger': mutableQuest.get('description')?.touched && mutableQuest.get('description')?.invalid }"
					>Description</label>
					<textarea
						formControlName="description"
						class="uk-margin-left uk-width-expand"
						[class]="{ 'uk-form-danger': mutableQuest.get('description')?.touched && mutableQuest.get('description')?.invalid, 'gl-textarea-tertiary': isUnassigned, 'gl-textarea': isInProgress, 'gl-textarea-secondary': isComplete }"
						rows="6"
					></textarea>
				</div>
				<div formArrayName="objectives">
					<label class="gl-text-medium uk-text-bold gl-form-label">Objectives</label>
					<div
						*ngFor="let obj of objectives.controls; index as i"
						class="uk-grid-small uk-flex-bottom uk-margin-top"
						uk-grid
					>
						<div class="uk-width-2-3">
							<input
								[formControlName]="i"
								type="text"
								[class]="{ 'gl-text-input': isInProgress, 'gl-text-input-secondary': isComplete, 'gl-text-input-tertiary': isUnassigned}"
								class="uk-width-1-1"
							>
						</div>
						<div><span *ngIf="objectives.controls.length > 1" (click)="removeObjective(i)" class="gl-pointer-cursor uk-text-danger" uk-icon="minus-circle"></span></div>
						<div><span *ngIf="objectives.controls.length === (i + 1)" (click)="addObjective()" class="gl-pointer-cursor" uk-icon="plus-circle"></span></div>
					</div>
				</div>
			</form>
		</div>
		<div class="uk-modal-footer">
			<div class="uk-flex uk-flex-right uk-flex-middle">
				<p (click)="closeEdit()" class="uk-margin-remove gl-pointer-cursor">Cancel</p>
				<button class="uk-margin-left" [class]="{ 'gl-button-tertiary': isUnassigned, 'gl-button-primary': isInProgress }" >Save</button>
			</div>
		</div>
	</div>
</section>