<section>
	<div class="uk-background-default uk-width-expand">
		<div class="uk-modal-header">
			<h2 class="uk-modal-title uk-text-primary uk-heading-large">Create A Quest</h2>
		</div>
		<div class="uk-modal-body">
			<form [formGroup]="quest">
				<div class="uk-margin-bottom">
					<span class="gl-text-medium uk-text-bold">Name:</span>
					<input
						formControlName="name"
						class="uk-margin-left gl-text-input"
						[class]="{ 'uk-form-danger': quest.get('name')?.touched && quest.get('name')?.invalid }"
						type="text"
					>
				</div>
				<div class="uk-margin-bottom">
					<span class="gl-text-medium uk-text-bold">Reward:</span>
					<input
						formControlName="reward"
						class="uk-margin-left gl-text-input"
						[class]="{ 'uk-form-danger': quest.get('reward')?.touched && quest.get('reward')?.invalid }"
						type="number"
						(keydown.arrowup)="(false)"
						(keydown.arrowdown)="(false)"
					>
				</div>
				<div class="uk-margin-bottom">
					<span class="gl-text-medium uk-text-bold uk-text-top">Description:</span>
					<textarea
						formControlName="description"
						class="gl-textarea uk-margin-left uk-width-3-4"
						[class]="{ 'uk-form-danger': quest.get('description')?.touched && quest.get('description')?.invalid }"
						rows="6"
					></textarea>
				</div>
				<div>
					<p class="gl-text-medium uk-text-bold uk-text-top">Objectives:</p>
					<div
						formArrayName="objectives"
						*ngFor="let obj of getObjectiveControls(); let i=index"
						uk-grid
						class="uk-grid-small uk-flex-bottom"
					>
						<span class="gl-text-medium">{{ i + 1 }}</span>
						<input
							[formControl]="getObjControl(i)"
							type="text"
							class="gl-text-input uk-margin-small-left"
						>
						<div><span *ngIf="getObjectiveControls().length > 1" (click)="removeObjective(i)" class="gl-pointer-cursor uk-text-danger" uk-icon="minus-circle"></span></div>
						<div><span *ngIf="getObjectiveControls().length === (i + 1)" (click)="addObjective()" class="gl-pointer-cursor" uk-icon="plus-circle"></span></div>
					</div>
				</div>
			</form>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button (click)="resetForm()" class="gl-button-secondary uk-modal-close uk-margin-right" type="button">Cancel</button>
			<button (click)="saveQuest()" class="gl-button-primary" type="button">Save</button>
		</div>
	</div>
</section>
