<section>
	<div class="uk-background-default uk-width-expand">
		<div class="uk-modal-header">
			<h2 class="uk-modal-title uk-text-primary uk-heading-large">Create A Quest</h2>
		</div>
		<div class="uk-modal-body">
			<form [formGroup]="quest">
				<div class="uk-margin-bottom">
					<span class="gl-text-medium uk-text-bold">Name:</span>
					<input
						formControlName="name"
						class="uk-margin-left gl-text-input"
						[class]="{ 'uk-form-danger': quest.get('name')?.touched && quest.get('name')?.invalid }"
						type="text"
					>
				</div>
				<!-- <div class="uk-margin-bottom">
					<span class="gl-text-medium uk-text-bold uk-text-top">Description:</span>
					<textarea
						[(ngModel)]="quest.description"
						class="gl-textarea uk-margin-left uk-width-3-4"
						[class]="{ 'uk-form-danger': attemptedToSubmit && !quest.description }"
						rows="6"
						(input)="resetAttemptedToSubmit()"
					></textarea>
				</div>
				<div>
					<p class="gl-text-medium uk-text-bold uk-text-top">Objectives:</p>
					<div *ngFor="let obj of quest.objectives; let i=index">
						<span class="gl-text-medium">{{ i + 1 }}</span>
						<input
							[(ngModel)]="quest.objectives[i]"
							type="text"
							class="gl-text-input uk-margin-small-left"
							[class]="{ 'uk-form-danger': attemptedToSubmit && !quest.objectives[i] }"
							(input)="setObjective($event, i)"
						>
					</div>
				</div> -->
			</form>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button (click)="resetForm()" class="gl-button-secondary uk-modal-close uk-margin-right" type="button">Cancel</button>
			<button (click)="saveQuest()" class="gl-button-primary" type="button">Save</button>
		</div>
	</div>
</section>
