<header class="uk-background-primary uk-padding-small">
	<h2 class="uk-heading-medium gl-text-white">Gamify Life!</h2>
	<p class="uk-text-large gl-text-white">Change the way you think about life.</p>
</header>
<router-outlet></router-outlet>
<footer class="footer-nav uk-width-1-1 uk-margin-auto">
	<nav class="uk-width-5-6 uk-margin-auto uk-background-primary gl-padding-tiny" uk-navbar>
		<div class="uk-nav-left">
			<ul class="uk-navbar-nav">
				<li><a [routerLink]="['/guardian/summary']" class="gl-text-white link-min-height">Summary</a></li>
				<li><a [routerLink]="['/guardian/perks']" class=" gl-text-white link-min-height">Perks</a></li>
			</ul>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li><a href="#" class="link-min-height"><span class="gl-text-white" uk-icon="user"></span></a></li>
				<li><a href="#" class="link-min-height"><span class="gl-text-white" uk-icon="cog"></span></a></li>
			</ul>
		</div>
	</nav>
</footer>