@import 'variables';

.gl-border-bottom {
	border-bottom: 1px $global-primary-background solid;
}

.gl-border-top-black {
	border-top: 1px black solid;
}

.gl-border-bottom-black {
	border-bottom: 1px black solid;
}

.gl-border-bottom-white {
	border-bottom: 1px solid white;
}

.gl-border-top-white {
	border-top: 1px solid white;
}