@import 'variables';

.gl-button-primary {
	background-color: $global-color-primary;
	border-radius: $global-radius-medium;
	color: $global-emphasis-color;
	padding: 10px 15px;
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
	border: none;
	min-width: 75px;
}

.gl-button-secondary {

}