@import 'variables';

.gl-button-primary {
	background-color: $global-color-primary;
	border-radius: $global-radius-medium;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
	border: none;
	min-width: 75px;
	max-height: 45px;
}

.gl-button-primary:hover {
	background-color: darken($global-color-primary, $amount: 5);
}

.gl-button-secondary {
	background-color: $global-color-secondary;
	border-radius: $global-radius-medium;
	color: white !important;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
	border: none;
	min-width: 75px;
	max-height: 45px;
}

.gl-button-secondary:hover {
	background-color: darken($global-color-secondary, $amount: 5);
}

.gl-button-tertiary {
	background-color: $global-color-tertiary;
	border-radius: $global-radius-medium;
	color: white !important;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
	border: none;
	min-width: 75px;
	max-height: 45px;
}

.gl-button-tertiary:hover {
	background-color: darken($global-color-tertiary, $amount: 5);
}