.gl-card-header-small {
	padding: $global-tiny-margin $global-tiny-margin;
}

.gl-card-body-small {
	padding: $global-tiny-margin;
}

.gl-card-footer-small {
	border-top: 1px solid $global-muted-background;
	padding: $global-tiny-margin $global-tiny-margin;
}