@import 'variables';

$form-label-font-size: 1.0rem !default;

.uk-label-stacked + input {
	margin-top: $global-small-margin;
}

.gl-text-input {
	border-bottom: 1px $global-color solid;
	border-top: none;
	border-left: none;
	border-right: none;
	vertical-align: middle;
	color: $global-color;
	padding: 5px 10px;
	font-size: $global-medium-font-size;
}

.gl-text-input-secondary {
	border-bottom: 1px $global-color-secondary solid;
	border-top: none;
	border-left: none;
	border-right: none;
	vertical-align: middle;
	color: $global-color-secondary;
	padding: 5px 10px;
	font-size: $global-medium-font-size;
}

.gl-text-input-tertiary {
	border-bottom: 1px $global-color-tertiary solid;
	border-top: none;
	border-left: none;
	border-right: none;
	vertical-align: middle;
	color: $global-color-tertiary;
	padding: 5px 10px;
	font-size: $global-medium-font-size;
}

.gl-text-input:focus {
	outline: none;
}

.gl-textarea {
	resize: none;
	border-radius: $global-radius-large;
	border: 1px $global-color solid;
	padding: $global-tiny-margin $global-margin;
	font-size: $global-medium-font-size;
	color: $global-color;
}

.gl-textarea:focus {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.gl-label-spacing {
	// .uk-flex
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	// .uk-flex-wrap
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	// .uk-flex-bottom
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;

	// .uk-flex-center
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	.gl-form-label {
		// .uk-width-1-1
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
	}
}