.gl-marign-tiny {
	margin: $global-tiny-margin ip !important;
}

.gl-margin-tiny-top {
	margin-top: $global-tiny-margin !important;
}

.gl-margin-tiny-right {
	margin-right: $global-tiny-margin !important;
}

.gl-margin-tiny-bottom {
	margin-bottom: $global-tiny-margin !important;
}

.gl-margin-tiny-left {
	margin-left: $global-tiny-margin !important;
}