<section [class]="{ 'gl-text-tertiary' : isUnassigned, 'uk-text-primary' : isInProgress, 'uk-text-secondary': isComplete}">
	<div class="uk-background-default uk-width-1-1">
		<div class="uk-modal-header">
			<div class="uk-flex-between" uk-grid>
				<h3 [class]="{ 'gl-text-tertiary' : isUnassigned, 'uk-text-primary' : isInProgress, 'uk-text-secondary': isComplete}">{{quest.title}}</h3>
				<h3 [class]="{ 'gl-text-tertiary' : isUnassigned, 'uk-text-primary' : isInProgress, 'uk-text-secondary': isComplete}" *ngIf="household">{{ household.name }}</h3>
				<h3 [class]="{ 'gl-text-tertiary' : isUnassigned, 'uk-text-primary' : isInProgress, 'uk-text-secondary': isComplete}">Reward: {{quest.reward}}</h3>
			</div>
		</div>
		<div class="uk-modal-body uk-height-max-large uk-overflow-auto gl-scrollbar">
			<div *ngIf="noBodyToDisplay">
				<p>There is nothing here to display, try adding a description or objectives to your quest!</p>
			</div>
			<div *ngIf="assignee$ | async as assignee" class="uk-margin-bottom">
				<p class="uk-margin-remove uk-text-bold">{{ isInProgress ? "Assignee" : isComplete ? "Completed By" : "Assignee" }}</p>
				<p class="uk-padding uk-padding-remove-vertical uk-margin-remove">{{ assignee.displayName }} {{ isComplete ? "- " + completionDate : "" }}</p>
			</div>
			<div *ngIf="quest.description" class="uk-margin-bottom">
				<p class="uk-margin-remove uk-text-bold">Description</p>
				<p class="uk-padding uk-padding-remove-vertical uk-margin-remove">{{ quest.description }}</p>
			</div>
			<div *ngIf="quest.objectives.length">
				<p class="uk-margin-remove uk-text-bold">Objectives</p>
				<div class="uk-padding uk-padding-remove-vertical">
					<p class="uk-margin-remove" *ngFor="let obj of quest.objectives; index as i">{{ i + 1 }}: {{ obj }}</p>
				</div>
			</div>
		</div>
		<div class="uk-modal-footer">
			<div class="uk-width-1-1 uk-flex uk-flex-right" uk-grid>
				<p class="uk-margin-remove uk-modal-close gl-pointer-cursor" type="button">Close</p>
			</div>
		</div>
	</div>
</section>
