<section class="uk-card uk-card-body uk-height-1-1 uk-background-muted">
	<form (submit)="handleAuthenticate($event)" class="uk-margin-auto uk-width-3-4 uk-width-1-2@m">
		<div class="uk-margin-bottom">
			<div class="uk-margin-bottom">
				<label class="uk-form-label uk-label-stacked">Email</label>
				<input type="text" [formControl]="email" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger': email.touched && email.invalid }">
			</div>
			<div *ngIf="showCreateAccount" class="uk-margin-bottom">
				<label class="uk-form-label uk-label-stacked">Guardian's ID</label>
				<input type="text" [formControl]="guardianId" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger': guardianId.touched && guardianId.invalid }">
			</div>
			<div [ngClass]="showCreateAccount ? 'uk-margin-bottom' : ''">
				<label class="uk-form-label uk-label-stacked">Password</label>
				<input type="password" [formControl]="password" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger': password.touched && password.invalid }">
			</div>
			<div *ngIf="showCreateAccount">
				<label class="uk-form-label uk-label-stacked">Verify Password</label>
				<input type="password" [formControl]="verificationPass" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger': verificationPass.touched && verificationPass.invalid }">
			</div>
		</div>
		<div class="uk-flex uk-flex-between">
			<span class="gl-pointer-cursor uk-text-small" (click)="toggleCreateOrLogin()">{{ !showCreateAccount ?  "Don't have an account? Create One!" : 'Already have an account? Log in!' }}</span>
			<button type="submit" class="uk-button uk-button-primary">{{ !showCreateAccount ? 'Login' : 'Register' }}</button>
		</div>
	</form>
	<p *ngIf="error$ | async as error" class="uk-text-danger uk-text-center">{{ error.uiMessage }}</p>
</section>
