<section class="uk-card uk-card-body uk-background-muted">
	<div class="uk-width-5-6 uk-margin-auto">
		<div class="uk-margin-bottom uk-margin-top">
			<div uk-grid class="uk-child-width-1-2 uk-margin-medium-bottom">
				<div>
					<h3 class="uk-text-center uk-text-primary uk-heading-small">Quests</h3>
					<div class="uk-text-center uk-margin-bottom">
						<button class="gl-button-primary uk-width-1-1 uk-width-1-2@s uk-with-1-4@l" type="button" uk-toggle="target: #createQuest">Add New</button>
					</div>
					<div class="uk-text-center">
						<button class="gl-button-primary uk-width-1-1 uk-width-1-2@s uk-with-1-4@l" type="button">View All</button>
					</div>
				</div>

				<div class="uk-flex uk-flex-column uk-flex-center uk-text-center uk-margin-bottom">
					<p class="gl-text-tertiary gl-text-medium"><span class="uk-text-bold">Unclaimed: </span>{{ getUnclaimedQuests(quests).length }}</p>
					<p class="uk-text-primary gl-text-medium uk-margin-remove"><span class="uk-text-bold">In Progress: </span>{{ getClaimedQuests(quests).length}}</p>
					<p class="uk-text-secondary gl-text-medium"><span class="uk-text-bold">Complete:</span> 0</p>
				</div>
			</div>
			<div>
				<div class="uk-margin-medium-bottom uk-card uk-card-body uk-card-default">
					<h3 class="uk-text-center gl-text-tertiary">Unclaimed</h3>
					<table class="uk-table uk-table-small gl-table-striped-tertiary gl-text-tertiary">
						<tbody>
							<tr *ngFor="let quest of getUnclaimedQuests(quests)" class="uk-text-center">
								<td class="uk-text-middle">{{quest.title}}</td>
								<td class="uk-text-middle">${{quest.reward}}</td>
								<td class="uk-text-middle uk-text-truncate uk-table-expand">{{quest.description}}</td>
								<td class="">
									<div class="uk-flex uk-flex-right">
										<span class="gl-pointer-cursor" uk-icon="info" (click)="viewQuest(quest)"></span>
										<span class="gl-margin-tiny-left gl-pointer-cursor" uk-icon="pencil" (click)="editQuest(quest)"></span>
										<span class="gl-margin-tiny-left gl-pointer-cursor" uk-icon="trash" (click)="deleteQuest(quest)"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="uk-margin-medium-bottom uk-card uk-card-body uk-card-default">
					<h3 class="uk-text-center uk-text-primary">In Progress</h3>
					<table class="uk-table uk-table-small uk-table-striped">
						<tbody>
							<tr *ngFor="let quest of getClaimedQuests(quests)" class="uk-text-center">
								<td class="uk-text-middle">{{quest.title}}</td>
								<td class="uk-text-middle">${{quest.reward}}</td>
								<td class="uk-text-middle uk-text-truncate uk-table-expand">{{quest.description}}</td>
								<td class="">
									<div class="uk-flex uk-flex-right">
										<span class="gl-pointer-cursor" uk-icon="info" (click)="viewQuest(quest)"></span>
										<span class="gl-margin-tiny-left gl-pointer-cursor" uk-icon="pencil" (click)="editQuest(quest)"></span>
										<span class="gl-margin-tiny-left gl-pointer-cursor" uk-icon="trash" (click)="deleteQuest(quest)"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="uk-margin-medium-bottom uk-card uk-card-body uk-card-default">
					<h3 class="uk-text-center uk-text-secondary">Complete</h3>
					<table class="uk-table uk-table-small gl-table-striped-secondary uk-text-secondary">
						<tbody>
							<tr *ngFor="let quest of quests" class="uk-text-center">
								<td class="uk-text-middle">{{quest.title}}</td>
								<td class="uk-text-middle">${{quest.reward}}</td>
								<td class="uk-text-middle uk-text-truncate uk-table-expand">{{quest.description}}</td>
								<td class="">
									<div class="uk-flex uk-flex-right">
										<span class="gl-pointer-cursor" uk-icon="info" (click)="viewQuest(quest)"></span>
										<span class="gl-margin-tiny-left gl-pointer-cursor" uk-icon="pencil" (click)="editQuest(quest)"></span>
										<span class="gl-margin-tiny-left gl-pointer-cursor" uk-icon="trash" (click)="deleteQuest(quest)"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<create-quest id="createQuest" uk-modal></create-quest>
	<view-quest [quest]="questToView" [isUnassigned]="questToView.assignee === null" [isInProgress]="questToView.assignee !== null && questToView.dateCompleted === null" [isComplete]="questToView.dateCompleted !== null" id="viewQuest" uk-modal></view-quest>
</section>