<section class="uk-margin-auto uk-width-5-6">
	<div class="gl-border-bottom">
		<div class="uk-margin-bottom uk-margin-top">
			<div uk-grid class="uk-child-width-1-2">
				<div>
					<h3 class="uk-text-center uk-text-primary uk-heading-small">Quests</h3>
					<div class="uk-text-center uk-margin-bottom">
						<button class="gl-button-primary uk-width-1-1 uk-width-1-2@s uk-with-1-4@l" type="button">Add New</button>
					</div>
					<div class="uk-text-center">
						<button class="gl-button-primary uk-width-1-1 uk-width-1-2@s uk-with-1-4@l" type="button">View All</button>
					</div>
				</div>

				<div class="uk-flex uk-flex-column">
					<div><p class="uk-text-primary gl-text-medium uk-margin-top"><span class="uk-text-bold">Unclaimed:</span> 0</p></div>
					<p class="uk-text-primary gl-text-medium uk-margin-top"><span class="uk-text-bold">In Progress:</span> 0</p>
					<p class="uk-text-primary gl-text-medium uk-margin-top"><span class="uk-text-bold">Complete:</span> 0</p>
				</div>
			</div>
		</div>
	</div>
</section>