<section class="uk-card uk-card-body uk-height-1-1 uk-background-muted">
	<form (submit)="handleAuthenticate($event)" class="uk-margin-auto uk-width-3-4 uk-width-1-2@m">
		<div class="uk-margin-bottom">
			<div class="uk-margin-bottom">
				<label class="uk-form-label uk-text-primary uk-label-stacked">Email</label>
				<input type="text" [formControl]="email" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger' : email.touched && email.invalid }">
			</div>
			<div class="uk-margin-bottom">
				<label class="uk-form-label uk-text-primary uk-label-stacked">Password</label>
				<input type="password" [formControl]="password" (input)="clearPasswordError()" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger' : password.touched && password.invalid }">
			</div>
			<div>
				<label class="uk-form-label uk-text-primary uk-label-stacked">Verify Password</label>
				<input type="password" [formControl]="verificationPass" (input)="clearPasswordError()" class="uk-input uk-form-controls" [class]="{ 'uk-form-danger' : verificationPass.touched && verificationPass.invalid }">
			</div>
		</div>
		<div class="uk-flex uk-flex-between">
			<a [routerLink]="['/guardian/login']" class="gl-pointer-cursor uk-text-small uk-text-primary">Already have an account? Log in!</a>
			<button type="submit" class="uk-button uk-button-primary">Register</button>
		</div>
	</form>
	<p *ngIf="error$ | async as error" class="uk-text-danger uk-text-center">{{ error.uiMessage }}</p>
	<p *ngIf="showSamePasswordError" class="uk-text-danger uk-text-center">Passwords don't match.</p>
</section>
