@import "variables";
@import "mixins-theme.scss";
@import "mixins";
@import "custom";

@import "variables-theme.scss";
@import "uikit-theme.scss";

/* You can add global styles to this file, and also import other style files */
body {
	margin: 0px;
	box-sizing: border-box;
}

.gl-pointer-cursor {
	cursor: pointer;
}

input:disabled {
	background-color: $global-muted-background;
}