<section class="uk-card uk-card-body uk-background-muted uk-section">
	<header>
		<h3 class="uk-text-primary">Perks</h3>
		<p>Here you will create perks or rewards for your wards to purchase with their built up points from completing quests. You have complete control over what perks are available for your wards to buy and the cost value of the perks.</p>
		<button (click)="addNewPerk()" class="gl-button-primary">Add New Perk</button>
	</header>
	<div class="uk-margin-top">

	</div>
	<create-perk id="createPerk" uk-modal></create-perk>
</section>
