<section>
	<div class="uk-background-default">
		<div class="uk-modal-header">
			<h3 class="uk-text-primary">Create a Perk</h3>
		</div>
		<div class="uk-modal-body uk-overflow-auto uk-height-max-large gl-scrollbar">
			<form [formGroup]="perk">
				<div class="uk-margin-bottom">
					<span class="uk-text-bold" [class]="{ 'uk-form-danger': perk.get('title')?.touched && perk.get('title')?.invalid }">Title:</span>
					<input
						formControlName="title"
						class="gl-text-input uk-margin-left uk-width-2-3"
						[class]="{ 'uk-form-danger': perk.get('title')?.touched && perk.get('title')?.invalid }"
						type="text"
					>
				</div>
				<div class="uk-margin-bottom">
					<span class="uk-text-bold" [class]="{ 'uk-form-danger': perk.get('cost')?.touched && perk.get('cost')?.invalid }">Cost:</span>
					<input
						formControlName="cost"
						class="gl-text-input uk-margin-left uk-width-1-2 uk-width-1-4@m"
						[class]="{ 'uk-form-danger': perk.get('cost')?.touched && perk.get('cost')?.invalid }"
						type="number"
						(keydown.arrowup)="(false)"
						(keydown.arrowdown)="(false)"
					>
				</div>
				<div class="uk-margin-bottom">
					<span class="uk-text-bold" [class]="{ 'uk-form-danger': perk.get('household')?.touched && perk.get('household')?.invalid }">Household:</span>
					<gl-select-form
						class="gl-margin-tiny-top uk-width-1-1"
						[options]="hhOptions"
						[selectPlaceholder]="'Household'"
						formControlName="household"
						[error]="(perk.get('household')?.touched === true) && (perk.get('household')?.invalid === true)"
					></gl-select-form>
				</div>
			</form>
		</div>
		<div class="uk-modal-footer">
			<div class="uk-flex uk-flex-right uk-flex-middle">
				<p (click)="resetForm()" class="uk-margin-remove uk-modal-close gl-pointer-cursor" type="button">Cancel</p>
				<button class="gl-button-primary uk-margin-left">Save Perk</button>
			</div>
		</div>
	</div>
</section>