<section class="uk-offcanvas-bar">
	<button type="button" class="uk-offcanvas-close" uk-close></button>
	<header class="gl-border-bottom-white">
		<h3>Purchase Perks for:</h3>
		<div class="uk-flex uk-flex-between uk-margin-small-bottom">
			<p class="uk-margin-remove gl-text-white">{{ ward ? ward.displayName : "" }}</p>
			<p class="uk-margin-remove gl-text-white" [ngClass]="{ 'uk-text-warning shake': totalExceedsFunds }">Funds: {{ ward ? ward.credits : "" }}</p>
		</div>
	</header>
	<div class="uk-margin-top">
		<ul class="uk-list gl-text-white">
			<li *ngFor="let p of perksToRedeem">
				<div class="uk-flex uk-flex-between">
					<p class="uk-margin-remove">{{ p.title }}</p>
					<p class="uk-margin-remove">({{ p.cost }} x {{ perkRedeemAmounts[p.uid] }}) = {{ perkRedeemAmounts[p.uid] * p.cost }}</p>
				</div>
				<div>
					<span (click)="removeFromPerkCount(p)" *ngIf="perkRedeemAmounts[p.uid] > 1" class="gl-pointer-cursor" uk-icon="minus" ratio="0.8"></span>
					<span (click)="removePerkFromRedeemList(p)" class="gl-pointer-cursor" *ngIf="perkRedeemAmounts[p.uid] === 1" uk-icon="trash" ratio="0.8"></span>
					<span class="gl-margin-tiny-left gl-margin-tiny-right">{{ perkRedeemAmounts[p.uid] }}</span>
					<span (click)="addToPerkCount(p)" class="gl-pointer-cursor" uk-icon="plus" ratio="0.9"></span>
				</div>
			</li>
		</ul>
		<div class="gl-border-top-white uk-flex uk-flex-between">
			<p class="uk-margin-remove"><b>Total:</b></p>
			<p class="uk-margin-remove"> {{ total }}</p>
		</div>
		<div class="uk-flex uk-flex-between uk-margin-medium-top">
			<p (click)="cancelRedeem()" class="uk-margin-remove gl-text-white uk-button">Cancel</p>
			<p (click)="redeemPerks()" class="uk-margin-remove gl-text-white uk-button uk-button-default">Redeem</p>
		</div>
	</div>
</section>
