<section class="uk-card-default uk-card uk-card-hover uk-position-relative" id="perk">
	<div class="gl-card-header-small uk-background-secondary uk-flex uk-flex-between uk-flex-middle">
		<p class="uk-text-bold gl-text-white uk-margin-remove">{{ perk.title }}</p>
		<span class="gl-text-white gl-pointer-cursor" uk-icon="chevron-down" ratio="1.2" (click)="toggleCollapseExpand($event)" [@collapseExpand]="isCollapsed ? 'collapse' : 'expand'"></span>
	</div>
	<div class="gl-card-body-small uk-text-secondary gl-scrollbar-secondary" [@openClosed]="isCollapsed ? 'closed' : 'open'  ">
		{{ perk.description }}
	</div>
	<div class="gl-card-footer-small uk-flex uk-flex-between">
		<div>
			<span class="uk-text-secondary"># Available: </span>
			<span class="uk-text-secondary" *ngIf="perk.durability">{{ perk.durability }}</span>
			<span *ngIf="perk.hasUnlimited"><img src="assets/infinity-secondary.svg" height="20" width="20"></span>
		</div>
		<div class="uk-text-secondary">$ {{ perk.cost }}</div>
	</div>
</section>